<form class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmit()" >

  <div class="form-group" [ngClass]="displayFieldCss('name')">
    <div class="col-sm-12">
      <label for="name" class="control-label required">Name</label>
      <input type="text" id="name" class="form-control" 
             formControlName="name">
      <app-field-error-display
        [displayError]="isFieldValid('name')"
        errorMsg="Please inform your name">
      </app-field-error-display>       
    </div>
  </div>

  <div class="form-group" [ngClass]="displayFieldCss('email')">
    <div class="col-sm-12">
      <label for="email" class="control-label required">Email</label>
      <input type="text" id="email" class="form-control" 
             formControlName="email">
      <app-field-error-display
        [displayError]="isFieldValid('email')"
        errorMsg="Please inform your email">
      </app-field-error-display>       
    </div>
  </div>

  <div class="form-group">

    <div class="col-md-6" [ngClass]="displayFieldCss('address')">
        <label for="address" class="control-label required">Address</label>
        <input type="text" id="address" class="form-control" 
              formControladdress="address">
        <app-field-error-display
          [displayError]="isFieldValid('address')"
          errorMsg="Please inform your address">
        </app-field-error-display>       
    </div>

    <div class="col-md-3">
        <label for="address2" class="control-label">Address 2</label>
        <input type="text" id="address2" class="form-control" 
              formControladdress2="address2">
    </div>

    <div class="col-md-3" [ngClass]="displayFieldCss('zipCode')">
        <label for="zipCode" class="control-label required">Zip Code</label>
        <input type="text" id="zipCode" class="form-control" 
              formControlzipCode="zipCode">
        <app-field-error-display
          [displayError]="isFieldValid('zipCode')"
          errorMsg="Please inform your zipCode">
        </app-field-error-display>       
    </div>

  </div>

  <div class="form-group">

    <div class="col-md-4" [ngClass]="displayFieldCss('city')">
        <label for="city" class="control-label required">City</label>
        <input type="text" id="city" class="form-control" 
              formControlcity="city">
        <app-field-error-display
          [displayError]="isFieldValid('city')"
          errorMsg="Please inform your city">
        </app-field-error-display>       
    </div>

    <div class="col-md-4" [ngClass]="displayFieldCss('state')">
        <label for="state" class="control-label required">State / Province / Region</label>
        <input type="text" id="state" class="form-control" 
              formControlstate="state">
        <app-field-error-display
          [displayError]="isFieldValid('state')"
          errorMsg="Please inform your state">
        </app-field-error-display>       
    </div>

    <div class="col-md-4" [ngClass]="displayFieldCss('country')">
        <label for="country" class="control-label required">Country</label>
        <input type="text" id="country" class="form-control" 
              formControlcountry="country">
        <app-field-error-display
          [displayError]="isFieldValid('country')"
          errorMsg="Please inform your country">
        </app-field-error-display>       
    </div>

  </div>

  <button type="submit" class="btn btn-primary">
    Submit
  </button>

</form>